*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body{
  background-color: #001A33;
  color: #acaec2;
  font-family: 'Shippori Mincho B1', serif;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; 
  z-index: 1;
}

h1{
  font-size: 2.1em;
  padding: 5px;
  color: #DFE0F0;
}

h2{
  font-size: 1.6em;
  padding: 10px;
  color: #DFE0F0;
}

h3{
  font-size: 1.35em;
  padding: 10px;
  color: #DFE0F0;
  text-align: center;
}

img{ 
  margin: 15px;
  border: 1px solid #00ffff;
}

p{
  line-height: 1.3;
  font-size: 1.2em;
  padding: 5px;
  margin: 10px;
}

a, a:visited{
  display: inline-block;
  width: 125px;
  margin: 10px;
  border: 1px solid #00ffff;
  padding: 8px;
  color:  #DFE0F0;
  text-decoration: none;
  text-align: center;
  font-size: 1.1em;
  transition-duration: 0.5s;
  outline: none;
}


a:hover, a:active{
  border: 1px solid #DFE0F0;
  color: #bdbece;
}

ul{
  display: block;
  list-style-position: inside;
  padding: 5px;
  font-size: 1.2em;
}

hr{
  border: 0.75px solid #00ffff;
  width: 93%;
  margin-top: 15px;
}

/*utilities*/

.textContainer{
  margin: 20px;
  max-width: 1000px;
}

.flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row{
  flex-direction: row;
}

.alignEnd{
  align-items: flex-end;
}

.justifyEnd{
  justify-content: flex-end;
}

.sectionStyle{
  margin: 20px 20px 0px 20px;
}

/* intro section */
.introSection{
  height: 100vh;
  text-align: left;
}

.introSection img{
   width: 140px;
   border: none;
}

.introSection h1{
  color: #DFE0F0;
  text-align: center;
}

.introSection h3{
  color: #acaec2
}

/* about section */
.aboutSection img{
  width: 200px;
}

/*portfolio section*/
.projectSection img{
  width: 300px;
}
.portfolioProject{
  margin-top: 25px;
}

.linkContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

/*Contact Section*/
.contactSection{
  padding-bottom: 40px;
}

.contactSection a {
  border: none;
  margin: 0px;
  padding: 0px;
  font-size: 1.1em;
  color: #acaec2;
  display: inline;
  text-decoration: underline;
}

.contactSection a:hover {
  border: none;
}

/* footer */
footer{
  color: #bdbece;
  text-align: center;
}

footer p{
  text-align: center;
  margin-bottom: 15px;
}

footer a{
  border: none;
  font-size: 40px;
  width: auto;
  color: #bdbece;
}

footer a:hover {
  border: none;
  color: #DFE0F0;
}

footer svg{
  color: #bdbece;
  margin: 5px;
}

footer a:hover svg {
  color: #DFE0F0;
} 


/*Media Queries*/
 /*Smaller Phone*/
 @media only screen and (min-width: 320px) and (max-width: 374px) {
  .sectionStyle{
    margin: 20px
  }
  h1{
    font-size: 2em;
    padding: 10px;
    color: #DFE0F0;
  }
  
  h2{
    font-size: 1.5em;
    padding: 10px;
    color: #DFE0F0;
  }
  
  h3{
    font-size: 1.17em;
    padding: 10px;
    color: #DFE0F0;
  }
  
  .projectSection img{
    width: 250px;
    margin: 15px;
    border: 1px solid #00ffff;
  }

  .linkContainer {
    flex-direction: column;
  }

  p{
    line-height: 1.1;
    font-size: 1.1em;
    padding: 5px;
  }

  li{
    font-size: 1.1em;
  }

  a{
    font-size: 1.1em;
    display: block;
  }

  ul{
      font-size: 1.0em;
  }

  .footerIcons a{
    display: inline;
  }
}

/*Landscape*/
@media only screen and (min-width: 568px) {
 

  .sectionStyle{
      margin: 50px 50px 50px 50px;
  }

  .introSection img{
    width: 150px;
  }

  .aboutSection img{
    width: 250px;
  }

  .projectSection img{
    width: 350px;
  }
}

/*Larger Phone Landscape & Tablet*/
@media only screen and (min-width: 736px){

  h1 {
    font-size: 3rem;
  }

  h3 {
    font-size: 1.5rem;
  }
  .rowContainer{
    flex-direction: row-reverse;
  }

  .sectionStyle{
   margin: 70px 70px 70px 70px;
  }

  .introSection img{
    width: 150px;
  }

  .aboutSection img{
    width: 250px;
  }

  .projectSection img{
    width: 350px;
  }

  .linkContainer {
    flex-direction: column;
  }

}

/*Computer & tablet landscape & large tablet*/
@media only screen and (min-width: 992px) {
  h1{
    font-size: 3.5em;
    padding: 12px;
  }
  
  h2{
    font-size: 2.6em;
    padding: 12px;
  }
  
  h3{
    font-size: 2.35em;
    padding: 12px;
  }
  
  p{
    font-size: 1.4em;
    padding: 5px;
  }
  
  a, a:visited{
    width: 160px;
    margin: 12px;
    border: 2px solid #00ffff;
    font-size: 1.4em;
    display: block;
  }
  
  a:hover{
    border: 2px solid #9699BA;
  }
  
  ul{
    font-size: 1.6em;
    padding: 10px;
  }
  
  hr{
    border: 1px solid #00ffff;
  }

  .introSection img{
    width: 180px;
  }

  .projectSection img{
    width: 400px;
    margin: 30px;
  }

  .rowContainer{
    flex-direction: row-reverse;
  }

  .sectionStyle{
      margin: 100px 80px 0px 100px;
  }

  .aboutSection img{
    width: 300px;
    margin: 30px;
  }

  .footerIcons a{
    display: inline;
  }
}

/*Large Tablet Landscape and larger screen*/
@media only screen and (min-width: 1025px) {
  a, a:visited{
    margin-top: 30px;
  }
   
  .introSection img{
    margin: 100px;
  }

  .introSection a{
    margin-top: 100px;
  }

  .projectSection img{
    width: 500px;
    margin: 30px;
  }

  .rowContainer{
    flex-direction: row;
  }

  .projectSection .rowContainer{
    flex-direction: row-reverse;
  }

  .sectionStyle{
    max-width: 1000px;
  }

  .aboutSection img{
    width: 400px;
    margin: 30px;
  }

  .footerIcons a{
    display: inline;
  }
}
	